.Experiences {
  width: 80%;
  display: flex;
  flex-wrap: nowrap;
  gap: 2rem;
  overflow-x: scroll;
  padding-left: 40px;
}

.card {
  position: relative;
  min-width: 12;
  flex-direction: column;
  justify-content: center;
}

.card-img {
  height: 25rem;
  width: 18rem;
  border-radius: 0.5rem;
  margin-bottom: 1rem;
}
.boldtext {
  margin-top: auto;
}

.card-title {
  overflow: hidden;
  text-overflow: ellipsis;
}

.grayscale {
  color: #918e9b;
}
.rating {
  display: flex;
  gap: 0.5rem;
}
.status {
  margin-top: 5px;
  margin-left: 5px;
  position: absolute;
  background-color: white;
  padding: 5px 7px;
  border-radius: 2px;
  font-weight: bold;
}
