.Nav-bar {
  width: 100%;
  height: 5rem;
  display: flex;
  justify-content: left;
  align-items: center;
  background: #ffffff;
  box-shadow: 0px 2.98256px 7.4564px rgba(0, 0, 0, 0.1);
}

.logoclass {
  padding-left: 40px;
  width: 20vh;
  height: 7vh;
  margin-left: 2vh;
}
