.textContainer {
  display: flex;
  justify-content: flex-start;
  padding-left: 40px;
}

.text {
  margin-top: 5vh;
}

.text .para {
  max-width: 30rem;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 110%;
  color: #222222;
}

.text h1 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 110%;
  color: #000000;
}
